.bread{
    margin-top: 75px;
}
.heading{
    background-color: rgba(31, 11, 134, 0.9);
    color: white;
    border-radius: 10%;
    width: 90%;
    margin: auto;
}
.row{
    background-color: rgb(111, 61, 130);
    width: 80%;
    margin: auto;
    border-radius: 5%;
    color: rgb(0, 255, 81);
}
.row:hover{
    background-color: darkgray;

}
.tab1{
    padding: 6px;
    background-color: rgb(147, 220, 20);
    border: none;
    border-radius: 10%;
    color: white;
}
.tab2{
    padding: 6px;
    background-color: rgb(220, 220, 20);
    border: none;
    border-radius: 10%;
    color: white;
    margin-left: 22%;
}
.tab3{
    padding: 6px;
    background-color: rgb(20, 173, 220);
    border: none;
    border-radius: 10%;
    color: white;
    margin-left: 20%;
}